.App {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 7% 0%;
}

@media only screen and (max-width: 430px) {
    .buttons-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin: 0% 0%;
    }
}