.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.form-wrapper div{
    margin: 1%;
}

.country-selector {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.country-selector .css-b62m3t-container{
    width: 189px;
}